<div class="row main-container">
  <div class="container">
    <div class="row">
      <div>
        <h2>Educación 
          <i class="bi bi-cloud-plus" (click)="onOpenModal('add')" title="agregar"></i>
        </h2>
      </div>
    </div>
  </div>

  <div id="main-container">
    <div class="row align-items" *ngFor="let educa of educacion">
      <div class="container">
        <div class="row justify-content-start">
          <div class="col-sm-6 col-md-3 text-center">
            <img src="{{educa.educacion4}}" alt="" id="imgEducacion">
          </div>
          <div class="col-sm-6 col-md-6">
            <h3>{{educa.educacion1}}&nbsp;<i class="bi bi-pencil-square" (click)="onOpenModal('edit', educa)" title="editar"></i>
              &nbsp;<i class="bi bi-trash3" (click)="onOpenModal('delete', educa)" title="eliminar"></i></h3>
            <h4>{{educa.educacion2}}</h4>
            <h5>{{educa.educacion3}}</h5>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addEducacionModal" tabindex="-1" role="dialog" aria-labelledby="addEducacionModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEducacionModalLabel">Añadir Educación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddEducacion(addForm)">
          <div class="mb-3">
            <label for="educacion1">Institución</label>
            <input type="text" ngModel="" name="educacion1" class="form-control" id="educacion1"
              placeholder="Istituciones" required="" maxlength="225">
          </div>
          <div class="mb-3">
            <label for="educacion2">Periodo de Estudios</label>
            <input type="text" ngModel="" name="educacion2" class="form-control" id="educacion2"
              placeholder="periodo de estudios" required="" maxlength="225">
          </div>
          <div class="mb-3">
            <label for="educacion3">Titulos Obtenidos</label>
            <textarea ngModel="" name="educacion3" class="form-control" id="educacion3" style="height: 144px;" 
              placeholder="descripción" required maxlength="225"></textarea>
          </div>
          <div class="mb-3">
            <label for="educacion4">Escudo del Establecimiento</label>
            <input type="text" ngModel="" name="educacion4" class="form-control" id="educacion4"
              placeholder="escudo del establecimiento" required="" maxlength="225">
          </div>
          <div class="modal-footer">
            <button type="button" id="add-educacion-form" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancelar
            </button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" (click)="getEducacion()">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editEducacionModal" tabindex="-1" role="dialog" aria-labelledby="educacionEditModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="updateEducacionModalLabel">Editar Educación {{editEducacion?.educacion1}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <form #editForm="ngForm">

          <div class="mb-3">

            <label for="educacion1">Institución</label>
            <input type="text" ngModel="{{editEducacion?.educacion1}}" name="educacion1" class="form-control"
              id="educacion1" aria-describedby="emailHelp" placeholder="Title" maxlength="225">
          </div>

          <input type="hidden" ngModel="{{editEducacion?.idEdu}}" name="idEdu" class="form-control" id="idEdu"
            placeholder="">

          <div class="mb-3">
            <label for="educacion2">Periodo de Estudios</label>
            <input type="text" ngModel="{{editEducacion?.educacion2}}" name="educacion2" class="form-control"
              id="educacion2" placeholder="periodo de estudios" maxlength="225">
          </div>

          <div class="mb-3">
            <label for="educacion3">Titulos Obtenidos</label>
            <textarea ngModel="{{editEducacion?.educacion3}}" name="educacion3" class="form-control" id="educacion3" style="height: 144px;" 
              placeholder="descripción" required maxlength="225"></textarea>
              
          </div>

          <div class="mb-3">
            <label for="educacion4">Escudo del Establecimiento</label>
            <input type="text" ngModel="{{editEducacion?.educacion4}}" name="educacion4" class="form-control"
              id="educacion4" placeholder="escudo del establecimiento" maxlength="225">
          </div>

          <div class="modal-footer">
            <button data-bs-dismiss="modal" class="btn btn-primary" (click)="onUpdateEducacion(editForm.value)">
              Guardar
            </button>

            <button type="button" id="" data-bs-dismiss="modal" class="btn btn-secondary">
              Cerrar
            </button>
          </div>



        </form>
      </div>



    </div>
  </div>
</div>

<div data-bs-toggle="modal" data-bs-target="#deleteEducacionModal" class="modal fade" id="deleteEducacionModal"
  tabindex="-1" role="dialog" aria-labelledby="deleteEducacionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteEducacionModal">Eliminar Educación</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="modal-body">
        <p>¿Está seguro de que desea eliminar la educación {{deleteEducacion?.educacion1}}?</p>
      </div>

      <div class="modal-footer">
        <button (click)="onDeleteEducacion(deleteEducacion!.idEdu)" class="btn btn-primary" data-bs-dismiss="modal">
          SI
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          NO
        </button>
      </div>
    </div>
  </div>
</div>