<div class="row">
    <div class="conteiner">
        <div>
            <img src="../../../assets/arg-programa.png" alt="" id="logoap">
        </div>

        <div class="logored">
            <a (click)="goToLink('https://www.facebook.com/enzoac.dc')" class="pointer"><img
                    src="../../../assets/facebook_icon-icons.com_53612.png"></a>
            <a (click)="goToLink('https://github.com/Enz-22')" class="pointer"><img
                    src="../../../assets/GitHub-Mark-64px.png"></a>
            <a href='https://appieac.web.app/inicio' title="Salir"><img
                    src="../../../assets/exit_icon-icons.com_70975.png"></a>
        </div>
    </div>
</div>