.row{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    
}

#imgperfil{
    height: 200px;
    width: 200px;
    border-radius: 75%;
    top: auto;
    margin-top: -150px;
    
}
.conteinerAcerca{
    width: 100%;
    position: relative;
    bottom: 150px;
    
}

.left {
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 10px;
    float: left;
    position: relative;
    width: 45%;
    height: auto;
    
}

.right {
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
    float: right;
    width: 45%;
    height: auto;
    
}

.imgfondo{
    width: 100%;
    margin-top: -10px;
}

#imgAcer{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 1px solid black;
    
}

#icuad{
    top: auto;
    margin-top: -25px;
    
}

#centro{
    display:flex;
    justify-content: center;
    align-items: center;
}

#acer{
    word-wrap: break-word;
}

